<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Snailbites : Front End Engineer</title>
        <meta name="description" content="Snail is a Front End Engineer based in the greater New York City.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/stylesheets/screen.css" media="screen, projection" />
        <link rel="stylesheet" href="/css/stylesheets/print.css" media="print" />
        <!--[if IE]>
        <link rel="stylesheet" href="/stylesheets/ie./css" media="screen, projection" />
        <![endif]-->
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <a name="top"></a>
        <nav id="navbar" class="navbar">
            <ul>
            <li><a class="link-about" href="#about">ABOUT</a></li>
            <li><a class="link-work" href="#work">WORK</a></li>
            <li><a class="link-blog" href="#blog">BLOG</a></li>
            </ul>
        </nav>
        <article id="home" class="home">

            <section class="intro">
                <h1>My name is Vince</h1>
                I make websites<br>
                I engineer the front end at <a href="http://www.jcrew.com" target="_blank">J.Crew</a><br>
                I'm brewing <a href="http://www.caffevita.com/coffee/blends/theo-blend" target="_blank">Caffe Vita Theo blend</a>
                Currently digging <a href="http://addyosmani.com/resources/essential/jsdesignpatterns/book/" target="_blank">design patterns</a><br>

            </section>
            <div class="clear"></div>
        </article>
        <article id="about" class="about">
            <a name="about"></a>
            <figure>
                <img src="/images/about-frame.png" />
            </figure>
            <section class="bio">
                <p>My name is Vince and Snail is my nickname.</p>
                <p>
                My expertise as a Front End Developer comes from industry proven experience, combined with a rock solid background in Computer Science from Maryland. I season that with a plethora of volunteer work, including a four month stint working with impoverished communities in Southeast Asia.
                </p>
                <p>
                My human approach coupled with my strong technical background, allow me to hand craft an engaging, custom-fit web experience for every project I face.
                </p>
            </section>
            <div class="line"></div>
            <div class="clear"></div>
        </article>
        <article id="work" class="work">
            <aside class="sidebar">
                <ul>
                    <li><a data-project="jcrew-pdp" data-link="http://www.jcrew.com/womens_category/sweaters/Pullover/PRDOVR~46725/46725.jsp" class="selected">J.Crew PDP</a></li>
                    <li><a data-project="jcrew-quickshop" data-link="http://www.jcrew.com/womens_feature/lookswelove.jsp">J.Crew Quickshop</a></li>
                    <li><a data-project="tgoodman" data-link="http://tgoodman.com/">Tim Goodman</a></li>
                    <li><a data-project="richtu" data-link="http://richtu.com/">Rich Tu</a></li>
                    <li><a data-project="espn-recruiting" data-link="http://espn.go.com/college-sports/basketball/recruiting/school/_/id/120">ESPN Recruiting Nation</a></li>
                    <li><a data-project="dreamteam25" data-link="http://dreamteam25.org/">Mark Teixeria</a></li>
                    <li><a data-project="suze-orman" data-link="http://www.theapprovedcard.com/">Suze Orman</a></li>
                    <li><a data-project="leadership" data-link="http://theleadershiproom.com/blog/">The Leadership Room</a></li>
                </ul>
            </aside>
            <figure>
                <img class="preloader" src="/images/preloader.gif" />
                <a href="http://www.jcrew.com/womens_category/sweaters/Pullover/PRDOVR~46725/46725.jsp" target="_blank">
                    <img id="screenshot" src="/images/screenshots/jcrew-pdp.png" data-project="jcrew-pdp" width="580" height="333" />
                    <figcaption id="caption">Developed the front end functionality for an overhaul of the J.Crew, J.Crew Factory and Madewell product detail pages.</figcaption>
                </a>
            </figure>
            <div class="clear"></div>
        </article>

        <footer id="footer">
            <div class="inner">
                <section class="column">
                    <p>Copyright 2014 &bull; Snailbites.com</p>
                    <p>All work is the property of Vincent Nalupta and cannot be used without permission.</p>
                </section>

                <section class="column">
                    <p>You can contact me at <a style="color: #FFF; text-decoration: none;" href="mailto:snail@snailbites.com">snail@snailbites.com</a>.</p>
                    <!--<p>You can check out his CV here.</p>-->
                </section>

                <section class="column last">
		<h1>From the blog</h1>
                    <p>This site isn't even close to being done.</p>
                </section>
            </div>
        </footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <script>
            $(document).ready(function(){
                MyApp.init();
                $(['/images/screenshots/dreamteam25.png', '/images/screenshots/espn-recruiting.png', '/images/screenshots/jcrew-pdp.png', '/images/screenshots/jcrew-quickshop.png', '/images/screenshots/leadership.png', '/images/screenshots/richtu.png', '/images/screenshots/suze-orman.png', '/images/screenshots/tgoodman.png']).preload();
            });
        </script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics./js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-7084384-1');ga('send','pageview');
        </script>

    </body>
</html>